django==6.0.7
django-tinymce==5.0.0
mysqlclient==2.2.8
pip-check-updates==0.29.0
setuptools==83.0.0
Pillow==12.3.0
sorl-thumbnail>=12.4,<13.0
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0