{% block content %}
<div class="row g-0 align-items-center mb-3">

    <div class="col-12 col-md-4">
        <small class="text-muted">
             <a href="{% url 'admin:familyhistory_relationship_change' relationship.id %}"
                      target="_blank" class="btn btn-sm btn-outline-primary">
                 {{ relationship.format_date }}
             </a>
        </small>
    </div>

    {% include 'fh/includes/_person-photo-name.html' with person=person name_col_md=5 %}
</div>
{% endblock %}
