/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*
bf7c0b - mid brown
e7d2a7 - light brown
89a324 - mid green
5c5441 - dark green/brown


f8ffff - very light blue
e0ffff - light blue
2fcbfe - mid blue
04689a - dark blue
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  margin-bottom: 60px;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8ffff;
  border-top: 1px solid #2fcbfe;
  padding-top:10px;
}

/* Customise the navbar */

.navbar-light {
	background-color: #f8ffff;
  	border-bottom: 1px solid #2fcbfe;
}

.navbar-light .navbar-brand {
	color: #5a5a5a;
}

.navbar-brand {
	padding: 5px 20px 3px 10px;
}

.navbar-light .navbar-nav > .nav-item > a:focus, 
.navbar-light .navbar-nav > .nav-item > a:hover 
{
	color: #04689a;
}

.navbar-light .navbar-nav > .active  a.nav-link, 
.navbar-light .navbar-nav > .nav-item .active > a.nav-link:focus, 
.navbar-light .navbar-nav > .nav-item .active > a.nav-link:hover {
    color: #04689a;
}


/* h tags
-------------------------------------------------- */

h1, h2, h3, h4, h5 {
    margin: 20px 0;
    color: #04689a;
}

h1, h2, h3, h4, h5 > a {
    text-decoration: none;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 110%;
    margin: 0;
}

h5 {
	font-size: 100%;
    margin: 0;
}


.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
.card-img-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.list-group-item {
  border: none;
  padding: 0.25rem 0;
}

.centered {
  text-align: center;
  margin: auto;
}

.centered > a {
  text-decoration: none;
  margin: auto;
}

.search-field {
    margin: 20px 0;
}

form div {
    margin: 20px 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}


/* For family tree display */
 .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  .node text {
    font: 12px sans-serif;
  }
