{% load i18n %}
{% load static %}
{% block content %}


<nav id="navbar" class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'fh:home' %}">
      {% trans 'Family History' %}
  	</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" >
        <li class="nav-item nav-search">
          <label for="navSearchPerson" class="visually-hidden">{% trans 'Search for a person' %}</label>
          <input type="text" id="navSearchPerson" class="form-control form-control-sm" autocomplete="off" placeholder="{% trans 'Search for a person...' %}">
          <ul id="navSearchResults" class="nav-search-results"></ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'fh:tree' %}" class="nav-link">{% trans 'Tree' %}</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'admin:index' %}" class="nav-link" target="_blank">{% trans 'Admin' %}</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
	    
	    
{% endblock content %}
