{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<h2>Add Relationship for {{ person.get_display_name }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<input type="text" id="searchPerson" placeholder="Search for a person...">
<div id="searchResults"></div>


<script>
document.getElementById('searchPerson').addEventListener('input', function() {
    const query = this.value;
    if (query.length > 1) {
        fetch(`{% url 'fh_data:person_search' %}?q=${query}`)
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('searchResults');
                resultsDiv.innerHTML = '';
                data.forEach(person => {
                    const div = document.createElement('div');
                    div.textContent = person.display_name + "b." + person.birth_year;
                    div.onclick = () => {
                        document.getElementById('id_related_person').value = person.id;
                        resultsDiv.innerHTML = '';
                    };
                    resultsDiv.appendChild(div);
                });
            });
    }
});
</script>

{% endblock %}